* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-weight: 300;
}

#signin,
#signup {
  border: none;

  background-color: rgb(194, 181, 161);
}

#signin:hover,
#signup:hover {
  background-color: rgb(182, 154, 112);
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
